*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

body{
    /* background-color: #151712; */
    background: rgb(7,71,50);
    background-color: rgba(7,71,50,1);
    background: linear-gradient(180deg, rgba(7,71,50,1) 5%, rgba(21,23,18,1) 46%, rgba(21,23,18,1) 67%, rgba(17,5,84,1) 93%);
    color: whitesmoke;
    background-repeat: no-repeat;
    background-size:100% max(3000px, 100%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    overflow-x: hidden;
}

p{
    margin: 0;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5{
    margin: 0;
}

header{
    margin-bottom: 125px;
}

footer{
    margin-top: auto;
    height: 120px;
    padding: 15px;
    background-color: rgba(56, 56, 56,0.6);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    justify-self: end;
}

.navBar{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: rgba(56, 56, 56,0.7);
    height: 37.600px;
}

.dropDiv{
    background-color: rgba(56, 56, 56,0.7);
    width: 100%;
}

.navDiv{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navLink{
    display: flex;
    align-items: center;
    flex-direction: column; 
    padding-top: 8px;
    padding-bottom: 8px;
    width: 100%;
    /* transition: all 0.01s; */
}

.dropDiv{
    display: none;
}

.navLink:hover{
    box-sizing: content-box;
    padding-bottom: 12px;
    padding-top: 12px;
    margin: -4px;
    width: calc(100% + 8px);
    /* font-size: 30px; */
    background-color: #242424;
    position: relative;
    z-index: 2;
}

.navDiv:hover>.dropDiv{
    display:inline-block;
    position: relative;
    z-index: 1;
}

.headtitle{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main{
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-bottom: 100px;
}

.nameAndTitle{
    width: 300px;
    border-bottom: 3px solid #E60C40;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.pageLink{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 25px;
    padding: 10px 40px;
}

.pageLink:hover{
    background-color: rgba(7,71,50,1);
}

.midParagraph{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.midParagraphM{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
    margin-top: 50px;
}

.midParagraphAb{
    display: flex;
    flex-wrap: wrap;
    height: 100vh;
    width: 100%;
    justify-content: center;
    height: fit-content;
    margin-bottom: 100px;
}

.midParagraphAb>*{
    flex: none;
}

.midParagraphResume{
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.midParagraphEssay{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.midParagraphPast{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

.midParagraphP{
    width: 60%;
}

.midParagraphPM{
    width: 60%;
    margin-top: 50px;
}

.pageLink{
    width: fit-content;
}

.pageName{
    font-size: 45px;
}

em{
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
}

.dividerLine{
    width: 120%;
    height: 1.5px;
    background-color: #E60C40;
}

.pageDiscriptor{
    font-size: 19px;
}

.mainPhoto{
    width: 100%;
    height: 55vh;
    max-height: 75vw;
    object-fit: cover;
    object-position: center;
    max-width: 90vw;
    /* clip-path: inset(10px 20px 30px 40px); */
    /* -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%); */
}

.mainPhotoRob{
    width: 70%;
    height: 55vh;
    max-height: 75vw;
    object-fit: cover;
    object-position: center;
    /* clip-path: inset(10px 20px 30px 40px); */
    /* -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 15%, rgba(0,0,0,1) 85%, rgba(0,0,0,0) 100%); */
}



.carouselPannel>.mainPhoto{
    margin-bottom: 50px;
}

.carouselBox{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carouselArrow{
    width: 60px;
    background-color: whitesmoke;
    height: 60px;
    border-radius: 300px;
    /* margin: 50px; */
    padding: 10px;
    transition: all 0.5s;
}

.carouselArrow:hover{
    width: 70px;
    height: 70px;
    /* margin: 45px; */
}

.carousel{
    width: 100%;
    -webkit-mask-image: linear-gradient(90deg, rgba(0,0,0,0) 2%, rgba(0,0,0,1) 13%, rgba(0,0,0,1) 87%, rgba(0,0,0,0) 98%);
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0 -15vw;
    z-index: -1;
    position: relative;
    flex:none;
}

.carouselPannel{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex:none;
    transition: all 0.5s cubic-bezier(.77,-0.01,.22,1.01);
}
.carouselPannelFirst{
    margin-left: -55%;
}

.smoothining{
    transition: all 0.5s ease;
}

.sectionHeader{
    font-size: 40px;
}

.linkedInIcon{
    width: 70px;
    background-color: #0072b1;
    padding: 7px;
    border-radius: 8px;
}

.linkedInIcon:hover{
    filter: brightness(1.05);
    padding: 5px;
}

.emailMe{
    text-decoration: underline;
}

.contactHolder{
    display: flex;
    justify-content: space-around;
    width: 75%;
    align-items: center;
}

.seeWork{
    margin-top: 10px;
    margin-bottom: 90px;
    font-size: 20px;
    text-decoration: underline;
}

.resDownload{
    text-decoration: underline;
}

.downloadSpacer{
    width: 100%;
    display: flex;
}

.Portrait{
    width: 382.075px;
}

.copyright{
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}

.copyright:hover{
    animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(0.95);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(1);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}

@media (max-width: 1024px) {

}

@media (max-width: 550px) {
    .midParagraphP{
        width: 90%;
    }

    .midParagraphResume{
        width: 95%;
    }

    .midParagraphPast{
        width: 90%;
    }

    .carouselArrow:hover{
        width: 60px;
        height: 60px;
    }

    .midParagraphPM {
        width: 90%;
    }
}
